
 #test {
 color:#000;
font-size:18px;

}      
 
 
 
 
 
 
 /*body{
      background-image: url(pic4.jpg);
      background-size: cover;
      color:black;
      font-family: Arial, geneva, arial black;
      font-weight: normal;
      font-size: 19px ;
      border:black 3px groove ;
      margin: 0px;


     }

     	h1 {

         color:#dadada;
         text-decoration: underline ;
         font-size: 1.8em;\
         font-style: tahoma;
         text-align: center;
         text-shadow:3px 3px 5px #2c8f77,
                     6px 6px 10px blue;
         opacity: 0.7;
      }


  # theform{
      	color:white;
      	display:table;
      	padding:15px;
      	background-color:red;
      	border:soild 2px black;
      }
        .row{
      	display:table-row;
      }


      .row label{
      	display:table-cell;
      	padding:2px;
            text-align:;
   	  }



   	  .row input{
      	display:table-cell;
      	padding:2px;
      }
      a{
         color:#dadada;
         border:10px soild blue;
         padding: 10px;
         border-radius:4px;
         text-shadow:3px 3px 4px #2c8f77;
         font-style: tahoma;

      }
*/